<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer
        #drawer
        mode="over"
    >
        <mat-nav-list (click)="drawer.toggle()">
            <a
                mat-list-item
                routerLink="/login"
            >
                Login
            </a>

            <a
                mat-list-item
                routerLink="/admin"
            >
                Admin
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar
            color="primary"
            class="mat-elevation-z2"
            fxLayout
            fxLayoutAlign="space-between center"
        >
            <button
                mat-icon-button
                (click)="drawer.toggle()"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <a
                routerLink="/"
                class="toolbar-link"
            >
                <h1 #appTitle></h1>
            </a>

            <div
                fxLayout
                fxLayoutAlign="end center"
                fxLayoutGap="10px"
            >
                <app-cart *ngIf="cartIsNotEmpty$ | async; else emptyCartBlock"></app-cart>

                <ng-template #emptyCartBlock>
                    <p>Your cart is empty</p>
                </ng-template>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>

<!-- <app-contact-us></app-contact-us> -->
