<div class="cart-list">
    <h1 mat-dialog-title>
        {{ totalCount$ | async }} product(s) in your Cart
    </h1>

    <button
        (click)="onClose()"
        mat-icon-button
        color="accent"
        class="cart-list__close-button"
    >
        <mat-icon aria-label="Close Popup">close</mat-icon>
    </button>

    <div mat-dialog-content>

        <mat-form-field
            fxLayout="row"
            fxLayoutAlign="end"
        >
            <mat-select
                [(ngModel)]="ordering"
                placeholder="Order By"
            >
                <mat-option
                    *ngFor="let fieldName of fieldNames"
                    [value]="fieldName"
                >
                    {{ fieldName.name | titlecase }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-list role="list">
            <mat-list-item *ngFor="let product of products$ | async | orderBy : ordering?.key : ordering?.ascending; trackBy: trackByFn">
                <app-cart-item
                    [product]="product"
                    (change-quantity)="onProductChange($event)"
                    (delete)="onProductDelete($event)"
                ></app-cart-item>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>

        <div
            fxLayout="row"
            fxLayoutAlign="space-between"
            class="cart-list__total-price"
        >
            <strong>Total Price:</strong>
            <strong>{{ totalSum$ | async | currency }}</strong>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div
        mat-dialog-actions
        fxLayout="row"
        fxLayoutAlign="end end"
    >
        <button
            mat-stroked-button
            color="primary"
            mat-dialog-close
            cdkFocusInitial
        >
            Proceed purchase
        </button>
    </div>
</div>
