<mat-card
    class="product"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <div
        fxFlex="1 0 auto"
        fxLayout="row"
        fxLayoutAlign="center center"
    >
        <img
            [src]="photo"
            alt="product image"
        >
    </div>

    <mat-card-content
        fxFlex="0 0 auto"
        fxLayout="column"
        fxLayoutAlign="end"
    >

        <table class="product-table">
            <tbody>
                <tr>
                    <td>Name</td>

                    <td>{{ product.name }}</td>
                </tr>

                <tr>
                    <td>Description</td>

                    <td>{{ product.description }}</td>
                </tr>

                <tr>
                    <td>Price</td>

                    <td>{{ product.price | currency }}</td>
                </tr>

                <tr>
                    <td>Category</td>

                    <td>{{ displayedCategory }}</td>
                </tr>

                <tr>
                    <td>Available</td>

                    <td>{{ product.isAvailable? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        <p [ngClass]="{'is-not-visible': !product.isInCart}">
            Product is added to a Cart.
        </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
        <button
            (click)="onOpenCart()"
            *ngIf="product.isInCart"
            mat-raised-button
            color="accent"
        >
            Open Cart
        </button>

        <button
            (click)="onBuy()"
            [disabled]="!product.isAvailable"
            mat-raised-button
            color="primary"
        >
            Buy
        </button>
    </mat-card-actions>
</mat-card>
