<mat-card
    class="product"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <mat-card-header
        fxLayout="row"
        fxLayoutAlign="center"
    >
        <img
            [src]="photo"
            alt="product image"
        >
    </mat-card-header>

    <mat-card-content fxFlex>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Category</th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Name</td>

                    <td>{{ name }}</td>
                </tr>

                <tr>
                    <td>Description</td>

                    <td>{{ description }}</td>
                </tr>

                <tr>
                    <td>Price</td>

                    <td>{{ price | currency }}</td>
                </tr>

                <tr>
                    <td>Category</td>

                    <td>{{ displayedCategory }}</td>
                </tr>

                <tr>
                    <td>Available</td>

                    <td>{{ isAvailable? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
        <button
            (click)="onBuy()"
            [disabled]="!product.isAvailable"
            mat-raised-button
            color="primary"
        >
            Buy
        </button>
    </mat-card-actions>
</mat-card>
